
.background-container {
    margin-top:15px;
    padding:10px;
    height: 100%;
    background-size: cover;
    width: 96%;
    background-color: white;
    box-shadow: 10px 9px 8px 0 rgba(76, 153, 226, 0.2), 0 6px 20px 0 rgba(0, 12, 12, 0.19);
    margin:20px;

}
.input-1 {
    width:15vw;
    height:3.5vh;
    padding:5px;
    margin: 5px;
    border-radius:10px ;
    border-width: 1px;
    border-color: rgb(153, 204, 11);
}
.btn-1 {
    width: 100%;
    font-size: 1vw;
    color: white;
    border-radius: 10px;
    background-color: rgb(60, 73, 248);
    box-shadow: 10px 9px 8px 0 rgba(18, 18, 19, 0.2), 0 6px 20px 0 rgba(217, 230, 230, 0.19);

}
.form-container {
    margin: 20px;
    padding:10px;
}

.refno {
    width:50px;
    height:4vh;
    margin: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(153, 204, 11);
}
.input-text {
    width:17vw;
    height:4vh;
    margin: 5px;
    border-width: 1px;
    border-color: rgb(153, 204, 11);
}
label {
    font-size:0.7vw;
    font-weight: 500;
}
.rational-toggle{
    width:17vw ;
    border-radius: 0px;
    background-color: aliceblue;
    color:black;
    border-width: 1px;
    height:4vh;
}